*{
     border: none;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
html{
     scroll-behavior: smooth;
}
body{
     background-color: #111;
     color: white;
}
.show_background{
     background-color: #111;
     z-index: 1;
}
.hide_background{
     background-color: transparent;
}